{% load i18n %}
{% block subject %}
{% blocktrans %}Lopxhan Site - Your password has been successfully updated!{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Your password has been updated and is ready to use!{% endblocktrans %}


{% trans "Thanks for using our site!" %}


{% blocktrans %}From the Lopxhan team{% endblocktrans %}
{% trans "@rlopxhan21 | Ronish Lopxhan" %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}Your password has been updated and is ready to use!{% endblocktrans %}</p>

<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}From the Lopxhan team,{% endblocktrans %}</p>
<p>{% blocktrans %}@rlopxhan21 | Ronish Lopxhan{% endblocktrans %}</p>

{% endblock html_body %}